<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio Empleados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>

      <ion-input  [(ngModel)]="Nomempleado" label="Nombre Empleado" type="text" placeholder="Ingresar su nombre"></ion-input>
    </ion-item>
    <ion-item>

      <ion-input  [(ngModel)]="Apeempleado" label="Apellido del empleado" type="text" placeholder="Ingresar su apellido"></ion-input>
    </ion-item>
    <ion-item>

      <ion-item>

        <ion-select [(ngModel)]="CodDepartamento" label="Departamentos" placeholder="Seleccione un departamento" >
          <ion-select-option *ngFor="let d of departamentos" value="{{d.CodDepartamento}}">{{d.Desdepartamento}}</ion-select-option>

        </ion-select>
      </ion-item>

    </ion-item>
    <ion-item>

      <ion-input  [(ngModel)]="Dirempleado" label="Direccion del empleado" type="text" placeholder="Ingresar su direccion"></ion-input>
    </ion-item>

<ion-row>
  <ion-col >
    <ion-button type="button" (click)="registrar()" >
      <ion-icon slot="start" name="add"></ion-icon>
     Registrar
    </ion-button>
  </ion-col>
</ion-row>


</ion-list>



  <ion-list >
    <ion-list-header>
     Lista de empleados
    </ion-list-header>

    <ion-item lines="inset" *ngFor="let a of empleados">
      <ion-label>
      Nombre empleado:  {{ a.Nomempleado }} - Apellido empleado: {{ a.Apeempleado }} - Codigo departamento:{{ a.CodDepartamento }}  - DireccionEmpleado:{{ a.Dirempleado }}
      </ion-label>
      <div class="item-note">
        <ion-icon  name="create"  [routerLink]="['/empleado/edit/',a.Codempleado]" style="zoom:2.0;"></ion-icon>
        <ion-icon  name="trash" (click)="borrar(a.Codempleado)" style="zoom:2.0;"></ion-icon>
      </div>
    </ion-item>



  </ion-list>

</ion-content>
