<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio Departamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col >
      <ion-button routerLink="/grafico" type="button"  color="danger">
        <ion-icon slot="start" name="analytics-outline"></ion-icon>
       Visualizar Grafico
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item>

      <ion-input  [(ngModel)]="Desdepartamento" label="Descripcion departamento" type="text" placeholder="Ingresar la descripcion"></ion-input>
    </ion-item>


<ion-row>
  <ion-col >
    <ion-button type="button" color="secondary" (click)="registrar()" >
      <ion-icon slot="start" name="add"></ion-icon>
     Registrar
    </ion-button>
  </ion-col>
</ion-row>


</ion-list>



  <ion-list >
    <ion-list-header>
     Lista de departamentos
    </ion-list-header>

    <ion-item lines="inset" *ngFor="let a of departamentos">
      <ion-label>
      Descripcion:  {{ a.Desdepartamento }}
      </ion-label>
      <div class="item-note">
        <ion-icon  name="create"  [routerLink]="['/departamento/edit/',a.CodDepartamento]" style="zoom:2.0;"></ion-icon>
        <ion-icon  name="trash" (click)="borrar(a.CodDepartamento)" style="zoom:2.0;"></ion-icon>
      </div>
    </ion-item>



  </ion-list>

</ion-content>
